<html>
<body class = "darken">
<div class = "Home_title">NAKED VOICES
<div class = "Smaller_subtitle">UCSB's Premiere Co-ed A Cappella Group</div>
</div>
<div class = "Smaller_subtitle">We're giving away two tickets to Pentatonix!</div><br>
<center><%=link_to "See Details on Entry", show_events_path, class: "btn btn-primary btn-lg"%></center>
 	<div class = "Home_event_no_bold">
 		<div style="float:left; width:50%; padding: 10px;">
 			<span class = "larger">
			Help support Naked Voices! </span> <br><br>All donations over <span class = "home_important_color"> $5 </span>come with a ticket to our concert and a raffle entry to win two pairs of tickets to Pentatonix on April 30th! Support us on <span class = "home_important_color"> Indiegogo </span> by clicking the image below or learn more on how to enter the giveaway. <br> <%=link_to "Learn More", show_events_path, class: "btn btn-primary btn-lg"%>
			

			<br><br>
			<a href = "https://www.indiegogo.com/projects/naked-voices-spring-concert#/" target = "_blank">
			<%= image_tag "indiegogo.png", class: "indiegogo_home_image" %></a>
			
		</div>
		
		<div style="float:right; width:50%; padding: 10px;">
			<span class = "larger">
			Win the chance to see Pentatonix live!</span><br><br>
			Join Naked Voices in seeing Pentatonix at the Santa Barbara Bowl on Saturday, <span class = "home_important_color">April 30</span>, 2016 at <span class = "home_important_color">7pm</span>! Buy tickets by clicking the image below, or click "Learn More" to find out how you can <span class = "home_important_color">win</span> a pair of tickets! <br>
			<%=link_to "Learn More", show_events_path, class: "btn btn-primary btn-lg"%><br>
			<br>
			<a href = "http://www.axs.com/events/306896/pentatonix-tickets?skin=sbbowl" target = "_blank">
			<%= image_tag "pentatonix.jpg", class: "pentatonix_home_image" %></a>
			
		</div>


	</div>


</body>
</html>



