<html>
<body class = "darken">
<div class = "Event_large_title">Naked Voices Spring Concert

	<div class = "Smaller_subtitle">AND PENTATONIX TICKETS GIVEAWAY!</div></div><br>
	<center><a href = "https://www.facebook.com/events/976748045753764/" target="_blank"><%= image_tag "nakedvoices_grammys.jpg",class:"event_photo" %></a></center><br>
	<div class = "wrapper">
	<div class = "Event_description">

		<div class = "event_left_column">
			<span class = "larger"> How to Win Pentatonix Tickets*</span><br>
			<div style="padding-left:1em;">
			- Buy a tshirt or ticket to our Spring Concert by <span class = "event_important_color">April 23rd at 11:59 pm</span><br>
			- The winner will be announced via video on Facebook!<br>
			- Winner will be contacted with more details on how to receive tickets<br><br><br><br>
			*The Pentatonix show will be on Saturday, April 30, 2016 at 7:00pm at Santa Barbara Bowl
			</div>
		</div>
		<div class = "event_right_column">
			<span class = "larger"> How to Win A Tshirt*</span><br>
			<div style="padding-left:1em;">
			- Buy a tshirt or ticket to our Spring Concert online until <span class = "event_important_color">May 7th</span><br>
			- Drawing will be held during the concert<br>
			- Five winners will be chosen and will receive "Get Naked" shirts <br>
			- A "Get Naked" shirt will guarantee you a ticket to our May 7th concert and <span class = "event_important_color"> ALL </span> future concerts <br><br>
			*Any tshirt purchase up until <span class = "event_important_color">April 23rd</span> will also enter you into the Pentatonix giveaway
			</div>
		</div>
	</div></div><br>
	<div class = "Event_writing">
		Buy NV Spring Concert <span class = "event_important_color">Tickets</span>: $5 (includes raffle entry)<br>
	</div>
		<div class = "Event_writing_no_bold">
			Payable through <a href = "https://www.venmo.com/nakedvoices" target="_blank"> <%=image_tag "venmo_logo.png", class:"pay_link_venmo"%> </a> or <a href = "http://tilt.tc/M8yi" target="_blank"> <%=image_tag "tilt_logo.png", class:"pay_link_tilt"%> </a><br><br>
		</div>

	<div class = "Event_writing">
		
		

		Buy <span class = "event_important_color">T-shirt</span>: $20 (includes raffle entry and admission)<br>
	</div>
		<div class = "Event_writing_no_bold">
			Payable through <a href = "https://www.venmo.com/nakedvoices" target="_blank"> <%=image_tag "venmo_logo.png", class:"pay_link_venmo"%> </a> or <a href = "http://tilt.tc/C4d7" target="_blank"> <%=image_tag "tilt_logo.png", class:"pay_link_tilt"%> </a> <br><br>
			<%=image_tag "get_naked_shirt_grey.png", class:"shirts"%>
		  <%=image_tag "get_naked_shirt_white.png", class:"shirts"%><br>

		</div>

		<br><br><br><br>
		 
		


</body>
</html>
