<html>
<body class = "darken">
<div class = "Large_title">Naked Voices Spring Concert
	<div class = "Smaller_subtitle">Saturday, May 7th at 8:00pm</div></div><br>
	<div class = "Event_description">
		Join us for our Spring Concert at Lotte Lehmann Hall, UCSB! Vocal Motion, BFOM, and Intervals will open for us. Next, Soundcheck, our friends from UCLA, will grace the stage. It will be a night of amusement, amazement, and a cappella! Buy your tickets, now! </div><br><br>
	<div class = "Event_writing">
		Buy Tickets: <span class = "important_color">Presale</span> $3 <br>
	</div>
		<div class = "Event_writing_no_bold">
			Payable through <a href = "https://www.venmo.com/nakedvoices" target="_blank"> <%=image_tag "venmo_logo.png", class:"pay_link_venmo"%> </a> or <a href = "http://www.tilt.com" target="_blank"> <%=image_tag "tilt_logo.png", class:"pay_link_tilt"%> </a><br><br>
		</div>

	<div class = "Event_writing">
		Want a "Get Naked" shirt which guarantees you a ticket to our concert and <span class = "important_color"> ALL </span> future concerts?<br>
		<%=image_tag "get_naked_shirt_grey.png", class:"shirts"%>
		  <%=image_tag "get_naked_shirt_white.png", class:"shirts"%><br>

		Buy T-shirt: $20<br>
	</div>
		<div class = "Event_writing_no_bold">
			Payable through <a href = "https://www.venmo.com/nakedvoices" target="_blank"> <%=image_tag "venmo_logo.png", class:"pay_link_venmo"%> </a> or <a href = "http://www.tilt.com" target="_blank"> <%=image_tag "tilt_logo.png", class:"pay_link_tilt"%> </a> <br>
		</div><br><br><br><br>
		 
		


</body>
</html>