<html>
<body class = "darken">
<div class = "Large_title">Naked Voices Spring Concert
	<div class = "Smaller_subtitle">Saturday, May 7th at 8:00pm</div>
	<div class = "Smaller_subtitle">AND PENTATONIX TICKETS GIVEAWAY!</div></div><br>
	<div class = "Event_description">
		Join us for our Spring Concert at Lotte Lehmann Concert Hall, featuring UCSB a cappella groups VOMO, BFOM, and Intervals, and Chapman a cappella group Soundcheck! Anyone who buys a pre-sale ticket or tshirt recieves one entry to our giveaway of Pentatonix tickets and "Get Naked" shirts. The first place prize is two FREE tickets to see Pentatonix at the Santa Barbara Bowl on Saturday, April 30, 2016 at 7:00pm! The other four winners will all recieve a "Get Naked" shirts for FREE! The drawing for the winner of the Pentatonix tickets will take place on Sunday April 17th, and the drawing for the four winners of shirts will be on Saturday, May 7th, during our spring concert.</div><br>
	<div class = "Event_writing">
		Buy Tickets: <span class = "important_color">Presale</span> $5 (includes raffle entry)<br>
	</div>
		<div class = "Event_writing_no_bold">
			Payable through <a href = "https://www.venmo.com/nakedvoices" target="_blank"> <%=image_tag "venmo_logo.png", class:"pay_link_venmo"%> </a> or <a href = "http://www.tilt.com" target="_blank"> <%=image_tag "tilt_logo.png", class:"pay_link_tilt"%> </a><br><br>
		</div>

	<div class = "Event_writing">
		Want a "Get Naked" shirt which guarantees you a ticket to our May 7th concert and <span class = "important_color"> ALL </span> future concerts?<br>
		<%=image_tag "get_naked_shirt_grey.png", class:"shirts"%>
		  <%=image_tag "get_naked_shirt_white.png", class:"shirts"%><br>

		Buy T-shirt: $20 (includes raffle entry)<br>
	</div>
		<div class = "Event_writing_no_bold">
			Payable through <a href = "https://www.venmo.com/nakedvoices" target="_blank"> <%=image_tag "venmo_logo.png", class:"pay_link_venmo"%> </a> or <a href = "http://www.tilt.com" target="_blank"> <%=image_tag "tilt_logo.png", class:"pay_link_tilt"%> </a> <br>
		</div><br><br><br><br>
		 
		


</body>
</html>
