<body class = "darken">
<div class = "User_page">
<%=link_to "Add New User", new_user_path(@user), class: "btn btn-primary btn-lg"%>
<%=link_to "Delete a User", show_all_user_path(@user), class: "btn btn-primary btn-lg"%>

	<br>
	<div class = "white">
	Or,
	Edit Your Login:<br>
  Current Username is "<%= @user.username %>"
  <%= form_for :user, url: edit_user_path, method: :patch do |f| %>
      <div>
        New Username: <%= text_field_tag :username, "", class: "inside_login_box" %>
      </div>
      <br>
      <div>
        New Password: <%= password_field_tag :password,"", class: "inside_login_box" %>
      </div>
      <br>
      <div>
        Confirm New Password: <%= password_field_tag :password_confirmation,"", class: "inside_login_box" %>
      </div>
      <br>
    </div>
      <%= f.submit "Submit", class: "btn btn-primary btn-lg" %>
<%end%>
</div>

</body>